{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree %}

{{ block title }}
Decision
{{ endblock }}
{{ block content }}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .player-info {
        padding: 5px;
        margin: 5px;
    }

    .pref-table {
        grid-row: 2;
        margin: 5px;
    }

    #send-pref {
        padding: 5px;
        margin-top: 5px;
    }

    th,
    td {
        padding: 5px;
        border: 2px solid black;
        height: 10px;
        text-align: center;
    }

    th {
        background-color: bisque;
    }
</style>

<div class="grid-container">
    <div class="player-info">
        <b>Round</b>: {{player.round_number}}
        <br>
        <b>Group size</b>: {{group_size}}
        <br>
        <b>Your player ID</b>: {{player.id_in_group}}
        <br>
        <b>Matching algorithm</b>: {{matching}}
    </div>


    <div class="pref-table">
        <h5>Your Preference Sheet</h5>
        <table>
            <tr>
                <th>Space ID</th>
                <th>Term</th>
                <th>Payoff</th>
            </tr>
            {{ for space, term, payoff in player_pref }}
            <tr>
                <td>{{space}}</td>
                {{ if term == 0}}
                <td>-</td>
                {{ else }}
                <td>+</td>
                {{ endif }}
                <td>{{payoff}}</td>
            </tr>
            {{ endfor }}
        </table>
    </div>

    <div class="pref-table">
        <h5>Space Priority Sheet</h5>
        {{ for space_pref_for_player in space_pref }}
        <table>
            <tr>
                <th>Space ID</th>
                <th>Term</th>
                <th>Priority</th>
            </tr>
            {{ for space, term, ranking in space_pref_for_player }}
            <tr>
                <td>{{space}}</td>
                {{ if term == 0}}
                <td>-</td>
                {{ else }}
                <td>+</td>
                {{ endif }}
                <td>{{ranking}}</td>
            </tr>
            {{ endfor }}
        </table>
        {{ endfor }}
    </div>

    <div class="pref-table">
        <h5>Your Decision Sheet</h5>
        <table id="pref-table">
            <tr>
                <th>Space ID</th>
                <th>Term</th>
                <th>Payoff</th>
            </tr>
            {{ for space, term, payoff in decision_pref }}
            <tr draggable="true" ondragstart="dragstart()" ondragover="dragover()">
                <td>{{space}}</td>
                {{ if term == 0}}
                <td>-</td>
                {{ else }}
                <td>+</td>
                {{ endif }}
                <td>{{payoff}}</td>
            </tr>
            {{ endfor }}
        </table>
        <button id="send-pref" onclick="sendPref()">Send</button>
    </div>
</div>

<script>
    var row;
    function dragstart() {
        row = event.target;
    }
    function dragover() {
        var e = event;
        e.preventDefault();

        let children = Array.from(e.target.parentNode.parentNode.children);
        if (children.indexOf(e.target.parentNode) > children.indexOf(row))
            e.target.parentNode.after(row);
        else
            e.target.parentNode.before(row);
    }

    function sendPref() {
        const table = document.getElementById("pref-table");
        const rows = table.querySelectorAll("tr");

        const player_pref= [];
        rows.forEach((row) => {
            const cells = row.querySelectorAll("td");
            if (cells.length == 3) {
                var id = parseInt(cells[0].textContent);
                var term = cells[1].textContent == "-" ? 0 : 1;
                var payoff = parseInt(cells[2].textContent);
                player_pref.push([id, term, payoff]);
            }
        });
        liveSend({
            'player_pref':player_pref
        });
    }

    var updatePref = window.setInterval(function () {
        sendPref();
    }, 1000);
</script>

{{ endblock }}
