{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree %}

{{ block title }}
Matching Market
{{ endblock }}
{{ block content }}
<style>
    th,
    td {
        border: 1px solid black;
        height: 10px;
        text-align: center;
    }
</style>

This is round {{player.round_number}}
<br>
Number of participants: {{group_size}}

<table id="pref-table">
    <tr>
        <th>Space</th>
        <th>Term</th>
    </tr>
    {{ for s, t in preference }}
    <tr draggable="true" ondragstart="dragstart()" ondragover="dragover()">
        <td>{{s}}</td>
        <td>{{t}}</td>
    </tr>
    {{ endfor }}
    <button id="send-pref" onclick="send_preferences()">Send</button>
</table>

<script>
    var row;
    function dragstart() {
        row = event.target;
    }
    function dragover() {
        var e = event;
        e.preventDefault();

        let children = Array.from(e.target.parentNode.parentNode.children);
        if (children.indexOf(e.target.parentNode) > children.indexOf(row))
            e.target.parentNode.after(row);
        else
            e.target.parentNode.before(row);
    }

    function send_preferences() {
        const table = document.getElementById("pref-table");
        const rows = table.querySelectorAll("tr");

        const preference = [];
        rows.forEach((row) => {
            const cells = row.querySelectorAll("td");
            if (cells.length == 2) {
                const p = [parseInt(cells[0].textContent), parseInt(cells[1].textContent)];
                preference.push(p);
            }
        });
        liveSend({
            'preference': preference
        });
    }
</script>

{{ endblock }}