{{ block title }}
Round Results Page
{{ endblock }}
{{ block content }}
<style>
    th,
    td {
        border: 1px solid black;
        height: 10px;
        text-align: center;
    }
</style>

Round number: {{player.round_number}}
<br>
Your payoff is: {{payoff}}

<h1>Your final choice</h1>
<table id="final-pref-table">
    <tr>
        <th>Space</th>
        <th>Term</th>
        <th>Payoff</th>
    </tr>
    {{ for space, term, payoff in preference }}
    <tr>
        <td>{{space}}</td>
        {{ if term == 0}}
        <td>-</td>
        {{ else }}
        <td>+</td>
        {{ endif }}
        <td>{{payoff}}</td>
    </tr>
    {{ endfor }}
</table>

<h1>Final Allocation</h1>
<table>
    <tr>
        <th>Player</th>
        <th>Space</th>
        <th>Term</th>
    </tr>
    {{ for p, s, t, _ in result }}
    <tr draggable="true" ondragstart="dragstart()" ondragover="dragover()">
        <td>{{p}}</td>
        <td>{{s}}</td>
        {{ if t == 0}}
        <td>-</td>
        {{ else }}
        <td>+</td>
        {{ endif }}
    </tr>
    {{ endfor }}
</table>

{{ next_button }}

{{ endblock }}