{{ block title }}
Round Results
{{ endblock }}
{{ block content }}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .player-info {
        padding: 5px;
        margin: 5px;
    }

    .pref-table,
    .alloc-table {
        grid-row: 2;
        margin: 5px;

    }

    button {
        margin-top: 10px;
    }

    th,
    td {
        padding: 5px;
        border: 2px solid black;
        height: 10px;
        text-align: center;
    }

    th {
        background-color: bisque;
    }
</style>

<div class="grid-container">
    <div class="player-info">
        <b>Round </b>: {{player.round_number}}
        <br>
        <b>Your player ID</b>: {{player.id_in_group}}
        <br>
        <b>Your payoff is</b>: {{payoff}}
        <br>
        Please press next to move to the next round.
    </div>

    <div class="pref-table">
        <h5>Your Final Choice</h5>
        <table id="final-pref-table">
            <tr>
                <th>Space ID</th>
                <th>Term</th>
                <th>Payoff</th>
            </tr>
            {{ for space, term, payoff in preference }}
            <tr>
                <td>{{space}}</td>
                {{ if term == 0}}
                <td>-</td>
                {{ else }}
                <td>+</td>
                {{ endif }}
                <td>{{payoff}}</td>
            </tr>
            {{ endfor }}
        </table>
    </div>


    <div class="alloc-table">
        <h5>Group Final Allocation</h5>
        <table>
            <tr>
                <th>Player ID</th>
                <th>Space ID</th>
                <th>Term</th>
            </tr>
            {{ for p, s, t, _ in result }}
            <tr draggable="true" ondragstart="dragstart()" ondragover="dragover()">
                <td>{{p}}</td>
                <td>{{s}}</td>
                {{ if t == 0}}
                <td>-</td>
                {{ else }}
                <td>+</td>
                {{ endif }}
            </tr>
            {{ endfor }}
        </table>
    </div>
</div>
{{ next_button }}

{{ endblock }}
